[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/anettodev/hugo-coder.git

[submodule "themes/hugo-shortcode-timeline"]
	path = themes/hugo-shortcode-timeline
	url = https://github.com/anettodev/hugo-shortcode-timeline.git
[submodule "hugo-calendly-shortcode"]
	path = hugo-calendly-shortcode
	url = git@github.com:anettodev/hugo-calendly-shortcode.git
